:root {
  --jeopardy-blue: #060ce9;
  --jeopardy-gold: #d7a63e;
  --screen-corner-radius: 30px;
}

body {
  background-color: black;
  color: black;
}

div.screenBackOutline {
  display: block;
  margin: auto;
  height: 770px;
  width: 1000px;
  background-color: var(--jeopardy-gold);
  border-radius: var(--screen-corner-radius);
  padding-top: 5px;
  padding-bottom: 5px;
}

div.screenBack {
  display: block;
  margin: auto;
  height: 740px;
  width: 975px;
  background-color: var(--jeopardy-blue);
  border-radius: var(--screen-corner-radius);
  padding-top: 25px;
}

div.screenDisplay {
  display: block;
  margin: 0 auto 0 auto;
  height: 100px;
  width: 900px;
  background-color: black;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
}

p.screenDisplay {
  color: aliceblue;
  text-align: center;
  margin: 2px;
  font-size: 75px;
}

/* The question categories */
div.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
  background-color: black;
}

.categories div {
  background-color: var(--jeopardy-blue);
  border: 3px solid black;
  text-align: center;
  font-size: 30px;
  border-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* The price tags for each category */
div.prices {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: black;
  grid-auto-rows: 100px;
}

.prices button {
  width: 100%;
  height: 100%;
  background-color: var(--jeopardy-blue);
  color: var(--jeopardy-gold);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid;
  border-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.playerDisplay {
  display: block;
  text-align: center;
  margin-top: 10px;
  height: 50px;
}

.playerDisplay p {
  display: inline-block;
  color: azure;
  font-size: 30px;
}

.nameBox,
.playerBox,
.startButton {
  width: 50%;
  height: 100%;
  background-color: var(--jeopardy-blue);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid;
  border-color: var(--jeopardy-gold);

  display: inline-block;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

div.playerInfoDisplay {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 150px;
  background-color: var(--jeopardy-blue);

  color: white;
  font-size: 40px;

  margin-top: 10px;
  margin-inline-start: 10px;
  border: 2px solid var(--jeopardy-gold);
}
